$font-color: #000000;
$font-header-color:#dc5c01 ;
$font-alternative-color: #0CFACB;
$accent-color: #7A5243;
$background-color: #fbfcfc;
$background-alternative-color: #83c6b8;
$plain-white: #fffcf7;
$plain-black: #000000;
$font-color-white: #fdfbf8;
