@import '../../node_modules/normalize.css/normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,700;1,900&family=Nanum+Gothic+Coding&family=Open+Sans:wght@400&family=Roboto:ital@0;1&display=swap");
blockquote {
  font-style: italic;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 0.5em solid #f5f5f5;
}

code {
  margin: 0 0.1em;
  padding: 0.1em 0.2em;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  background: #f5f5f5;
  font-family: Nanum Gothic Coding, monospace;
  font-size: 0.85rem;
  line-height: 1.9824;
}



pre {
  padding: 0 1em;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  background: #f5f5f5;
}

pre code {
  display: block;
  margin: 0;
  padding: 1.1111em 0;
  border: 0 none;
  background: transparent;
  overflow-x: auto;
  line-height: 1.4;
}

@keyframes large-text-anim {
  0% {
    transform: scale(1.0)
  }
  75% {
    transform: scale(1.4)
  }
  100% {
    transform: scale(1.2)
  }
}
@keyframes move-from-side {
  0% {
    border-left: #ED4E0D solid 0px;
    border-right: #ED4E0D 0px solid;
    border-radius: 0%;
  }
  75% {
    border-left: #ED4E0D solid 1.7dvi;
    border-right: #ED4E0D solid 1.9dvi;
    border-radius: 2dvi;
  }
  100% {
    border-left: #ED4E0D solid 1.5dvi;
    border-right: #ED4E0D solid 1.7dvi;
    border-radius: 2dvi;
  }
}
* {
  box-sizing: border-box;
  border: 0 none;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

ol, ul {
  padding-left: 1.5em;
}

.hidden {
  display: none !important;
}

a {
  color: #000000;
}

html, body {
  height: 100%;
}

/* Placement */
body {
  display: flex;
  flex-direction: column;
  background-color: #EDF9F8;
}

.header, .footer {
  flex: 0 0 auto;
}

/* Header */
.header {
  border-bottom: #7A5243 solid 2px;
  margin-bottom: 0.5rem;
}

.header, .site-header, .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 15%;
}

.site-header h1, .site-header p {
  font-family: Roboto, sans-serif;
}

.nav {
  margin-left: 5%;
  margin-right: 5%;
  align-self: end;
  justify-self: end;
}

.nav a, .nav li {
  color: #000000;
  text-decoration: none;
  font-size: large;

  display: inline-block;
  padding-bottom:2px;
  background-image: linear-gradient(#ED4E0D 0 0);
  background-position: 0 100%; 
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.4s,
    background-position 0s 0.4s; 

}

.nav li:hover, .nav a:hover {
  background-position: 100% 100%; 
  background-size: 100% 2px;
}


/* Title */
.title, .logo {
  margin-top: 2em;
  margin-bottom: 2em;
}

.logo img {
  max-width: 120px;
  min-width: 64px;
}

.title a {
  text-decoration: none;
}

.title * {
  color: #ED4E0D;
}

.title p {
  font-style: italic;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px dotted #7A5243;
}

.footer a {
  color: #ED4E0D;
  text-decoration: none;
}

.footer a:hover {
    animation: large-text-anim 1s ease 1 forwards;
}

.footer .social {
  
  font-size: 2rem;
  align-self: center;

}


.footer div {
  min-width: 15%;
  max-width: 30%;
  align-content: center;
  align-self: center;
}

/* Typografy */
body {
  font-family: sans-serif;
  line-height: 1.7rem;
  color: #000000;
}

p, td, th, li, dd {
  text-align: center justify;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: #000000;
  max-width: 50%;
}

p {
  margin-bottom: 1em;
  letter-spacing: 0.1em;
}

li {
  margin-left: 1em;
}

ul, ol {
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.5em;
  margin-bottom: 0.6em;
  font-weight: bold;
  color: #ED4E0D;
  font-family: Open Sans, sans-serif;
}

img {
  max-width: 100%;
}

.main {
  margin: 1em;
  padding-left: 1em;
  padding-right: 1em;
  animation: move-from-side 0.5s 1 ease forwards;
  background-color: #fffaf0;
  
}


table, thead, th, tr, td, del, s {
  background-color: #fffaf0;
  color: #000000;
}

.main h1, .main h2, .main h3, .main h4, .main h5, .main h6 {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 0.8em;
  margin-left: 1em;
  margin-right: 1em;
}

.main i, .main li, .main ul, .main ol, .main p, .main em {
  background-color: #fffaf0;
}

.gallery-grid {
  margin-top: 2.5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1rem;

  
}
.gallery-grid img {
  min-width: 250px;
  border-radius: 10%;
}

.gallery-grid img:hover {
  position: absolute;
  border-bottom: solid 3px #b4b2b2;
  border-right: solid 3px #b4b2b2;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .title, .logo, .nav-toggle {
    margin-top: 2em;
    padding-top: 5em;
    padding-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
  }

  
  .main {
    z-index: 0;
  }
  .body {
    z-index: 0;
  }
  .nav {
    z-index: 1;
    background: #f5f5f5;
  }
  .title {
    min-width: 50%;
  }
  .logo {
    max-width: 30%;
  }
  .footer {
    flex-direction: column;
  }
  .footer div {
    max-width: 80%;
  }
  .logo img {
    max-width: 128px;
    min-width: 64px;
  }
  p, td, th, li, dd {
    text-align: center justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: #000000;
    max-width: 100%;
  }
  .gallery-grid {
    display:flex;
    flex-direction: column;
  }

}

/*# sourceMappingURL=style.css.map */
