$font-color: #000000;
$font-header-color: #ED4E0D;
$font-alternative-color: #0CFACB;
$accent-color: #7A5243;
$background-color: #EDF9F8;
$background-alternative-color: #3FA591;
$plain-white: #fff3df;
$plain-black: #000000;
$font-color-white: #fff3df;
